body{
    background-color: black;
    color: white;
}
#grid{
    display: grid;
    grid-template-columns: repeat(3, 30%);
}
nav{
    grid-column: 3/5;
}
nav a {
    font-family: Quicksand;
    font-size: 30px;
}
#links{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    text-align: center;
}
#line{
    min-height: 3px;
    background-color: rgb(240, 36, 94);
    margin-left: 100%;
    margin-right: 100%;
}
#links a:hover #line{
    margin-left: 20%;
    margin-right: 20%;
    transition-duration: 1000ms;
    transition-property: margin-left;
    transition-property: margin-right;
}
